<div class="box">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <div id="title">
    <span>
      THOMAS
    </span>
    <br/>
    <span>
    </span>
    <div id="typed-strings">
      <p>Let's <strong>build</strong> your futur <em>together.</em></p>
    </div>
    <span id="typed"></span>
    <div class="scroll-down"></div>
  </div>
</div>